@model Hotel.Models.ReservationView
@{
    ViewBag.Title = "Reservation";
}


<section class="banner" id="reservation-banner">
    <div class="container reservation-banner__container">
        <div class="banner-text">
            <h1 class="banner-title">Бронювання</h1>
            <hr class="banner-title-divider">
            <h2 class="banner-subtitle">Будь-ласка заповніть всі наступні позиції для вашого бронювання</h2>
        </div>
    </div>
</section>
<section class="reservation-main">
    @*<form class="reservation-form">*@
    @using (Html.BeginForm("Reservation", "Home", FormMethod.Post, new { @class = "reservation-form" }))
    {
        @Html.Hidden("TypeId")
        @Html.Hidden("GuestCount");
        @Html.Hidden("StartDate", Model.StartDate.Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds)

        @Html.Hidden("EndDate", Model.EndDate.Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds)
        @Html.Hidden("Name")
        @Html.Hidden("Email")
        @Html.Hidden("PhoneNumber")
        @Html.Hidden("ChildrenCount")
        @Html.Hidden("Note")
        @Html.Hidden("Email")
        <p class="reservation-form__title">Зробiть бронювання</p>
        <label class="reservation-form__label">
            Категорія номеру
            <select id="room-category" class="reservation-input reservation-select">
                @foreach (var t in Model.Types)
                {
                    <option value="@t.TypeId">@t.Name</option>
                }
            </select>
        </label>
        <div class="reservation-form__label-wrapper">
            <label class="reservation-form__label reservation-form__label--half">
                Дата заїзду
                <input id="arrival-date" class="reservation-input">
            </label>
            <label class="reservation-form__label reservation-form__label--half">
                Дата виїзду
                <input id="departure-date" class="reservation-input">
            </label>
        </div>
        <label class="reservation-form__label">
            Ціна номеру
            <input id="room-price" disabled class="reservation-input">
        </label>
        <div class="reservation-form__label-wrapper">
            <label class="reservation-form__label reservation-form__label--half">
                Дорослі
                <select id="adults-amount" class="reservation-input reservation-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="3">4</option>
                </select>
            </label>
            <label class="reservation-form__label reservation-form__label--half">
                Діти до 6 р.
                <select id="children-amount" class="reservation-input reservation-select">
                    <option value="0">Без дiтей</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </label>
        </div>
        <label class="reservation-form__label">
            Ваше прiзвище та iмя
            <input id="name" class="reservation-input">
        </label>
        <label class="reservation-form__label">
            Ваш контактний телефон
            <input id="phone" class="reservation-input">
        </label>
        <label class="reservation-form__label">
            Ваш контактний e-mail(за бажанням)
            <input id="email" class="reservation-input">
        </label>
        <label class="reservation-form__label">
            Ваш коментар АБО побажання
            <textarea id="comment" class="reservation-input reservation-textarea"></textarea>
        </label>
        <button id="reservationBtn" class="button-green reservation-button">забронювати</button>
        @*</form>*@
    }
</section>

@section Scripts{
    <script src="~/Scripts/chosen.jquery.min.js"></script>
    <script src="~/Scripts/datepicker.min.js"></script>
    <script src="~/Scripts/i18n/datepicker.en.js"></script>
    <script src="~/Scripts/reservation.js"></script>
}