<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - Document</title>
    <!--Common part-->
    @*<link rel="stylesheet" href="css/normalize.css">*@
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&amp;subset=cyrillic" rel="stylesheet">
    @*<link rel="stylesheet" href="css/styles.css">*@
    <link href="~/Content/styles.css" rel="stylesheet" />
    <!--Common part end-->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header id="header">
        <div class="container">
            <div id="header-container">
                <a id="header-logo" href="/">Зелений Бір: Оздоровчий комплекс</a>
                <div id="header-main">
                    <p class="header-link-text active">
                        <a href="" class="header-link">Головна</a>
                    </p>
                    <p class="header-link-text">
                        <a href="" class="header-link">Про нас</a>
                    </p>
                    <p class="header-link-text">
                        <a href="" class="header-link">Галерея</a>
                    </p>
                    <p class="header-link-text">
                        <a href="" class="header-link">Лiкування</a>
                    </p>
                    <p class="header-link-text">
                        <a href="" class="header-link">Цiни</a>
                    </p>
                    <p class="header-link-text">
                        <a href="" class="header-link">Бронювання</a>
                    </p>
                    <p class="header-link-text">
                        <a href="" class="header-link">Контакти</a>
                    </p>
                </div>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>

    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>*@
    <footer id="footer">
        <div class="container footer__container">
            <div id="footer-logo-wrapper">
                <a id="footer-logo" href="/">Зелений Бір: Оздоровчий комплекс</a>
            </div>
            <div id="footer-menu">
                <p class="footer-title">Меню</p>
                <p class="footer-link__wrapper">
                    <a href="" class="footer-link footer-text">Головна</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="" class="footer-link footer-text">Про нас</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="" class="footer-link footer-text">Галерея</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="" class="footer-link footer-text">Лікування</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="" class="footer-link footer-text">Ціни</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="" class="footer-link footer-text">Бронювання</a>
                </p>
            </div>
            <div id="footer-contacts">
                <p class="footer-title">Контакти</p>
                <p class="footer-text footer-address">
                    Львівська обл. смт.Східниця
                    вул.Шевченка,300
                </p>
                <div class="footer-phones">
                    <p class="footer-phone footer-text">(03248)48216</p>
                    <p class="footer-phone footer-text">(+38) 096  0247088</p>
                </div>
                <p class="footer-title">Зв'яжіться з нами через</p>
                <div class="footer-socials">
                    <a href="" class="footer-social footer-social__fb">
                        <img src="~/Content/img/common/fb-icon.png" alt="">
                    </a>
                    <a href="" class="footer-social footer-social__tw">
                        <img src="~/Content/img/common/tw-icon.png" alt="">
                    </a>
                    <a href="" class="footer-social footer-social__insta">
                        <img src="~/Content/img/common/insta-icon.png" alt="">
                    </a>
                    <a href="" class="footer-social footer-social__trip">
                        <img src="~/Content/img/common/trip-advisor.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--Common part-->
    <script></script>
    <!--Common part end-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
