<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title - Document</title>
    <!--Common part-->
    @*<link rel="stylesheet" href="css/normalize.css">*@
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/number.css">
    <link href="~/Content/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/lightgallery.css">

    <!--Common part end-->
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    @Styles.Render("~/Content/dropzonescss")
    <link rel="stylesheet" href="~/Content/datepicker.min.css">
    <link rel="stylesheet" href="~/Content/chosen.css">
    <link rel="stylesheet" href="~/Content/slick.css">
    
</head>
<body>
    <header id="header">
        <div class="container">
            <div id="header-container">
                <a id="header-logo" href="/">Зелений Бір: Оздоровчий комплекс</a>
                <button id="header-mobile-open">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div id="header-main">
                    <button id="header-mobile-close">&times;</button>
                    <p class="header-link-text rootPage">
                        <a href="/" class="header-link">Головна</a>
                    </p>
                    <p class="header-link-text aboutPage">
                        <a href="about" class="header-link">Про нас</a>
                    </p>
                    <p class="header-link-text galleryPage">
                        <a href="Gallery" class="header-link">Галерея</a>
                    </p>
                    <p class="header-link-text healingPage">
                        <a href="Healing" class="header-link">Лiкування</a>
                    </p>
                    <p class="header-link-text roomsPage">
                        <a href="Rooms" class="header-link">Номери</a>
                    </p>
                    <p class="header-link-text pricePage">
                        <a href="Prices" class="header-link">Цiни</a>
                    </p>
                    <p class="header-link-text reservPage">
                        <a href="Reservation" class="header-link">Бронювання</a>
                    </p>
                    <p class="header-link-text contactPage">
                        <a href="Contact" class="header-link">Контакти</a>
                    </p>

                </div>
                @if (User.Identity.IsAuthenticated)
                {
                    <div style="width: 100%"></div>
                    <div id="admin-header-main">
                        <p class="header-link-text typePage">
                            <a href="/types" class="header-link">Види номерів</a>
                        </p>
                        <p class="header-link-text appartPage">
                            <a href="/apartments" class="header-link">Номери</a>
                        </p>
                        <p class="header-link-text reservsPage">
                            <a href="/reservations" class="header-link">Резервування</a>
                        </p>
                        <p class="header-link-text galPage">
                            <a href="/Galleries" class="header-link">Редагування галереї</a>
                        </p>
                    </div>
                }
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>

    <footer id="footer">
        <div class="container footer__container">
            <div id="footer-logo-wrapper">
                <a id="footer-logo" href="/">Зелений Бір: Оздоровчий комплекс</a>
            </div>
            <div id="footer-menu">
                <p class="footer-title">Меню</p>
                <p class="footer-link__wrapper">
                    <a href="/" class="footer-link footer-text">Головна</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="about" class="footer-link footer-text">Про нас</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="Gallery" class="footer-link footer-text">Галерея</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="Healing" class="footer-link footer-text">Лікування</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="Rooms" class="footer-link footer-text">Номери</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="Prices" class="footer-link footer-text">Ціни</a>
                </p>
                <p class="footer-link__wrapper">
                    <a href="Reservation" class="footer-link footer-text">Бронювання</a>
                </p>
            </div>
            <div id="footer-contacts">
                <p class="footer-title">Контакти</p>
                <p class="footer-text footer-address">
                    Львівська обл. смт.Східниця
                    вул.Шевченка,300
                </p>
                <div class="footer-phones">
                    <p class="footer-phone footer-text">(03248)48216</p>
                    <p class="footer-phone footer-text">(+38) 096  0247088</p>
                </div>
                <p class="footer-title">Зв'яжіться з нами через</p>
                <div class="footer-socials">
                    <a href="" class="footer-social footer-social__fb">
                        <img src="~/Content/img/common/fb-icon.png" alt="">
                    </a>
                    <a href="" class="footer-social footer-social__tw">
                        <img src="~/Content/img/common/tw-icon.png" alt="">
                    </a>
                    <a href="" class="footer-social footer-social__insta">
                        <img src="~/Content/img/common/insta-icon.png" alt="">
                    </a>
                    <a href="" class="footer-social footer-social__trip">
                        <img src="~/Content/img/common/trip-advisor.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <!--Common part-->
    <script></script>

    <!--Common part end-->
    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dropzonescripts")
    @RenderSection("scripts", required: false)
    <script src="/Scripts/header.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            var currLink = document.URL.split('/');
            var curLocation = currLink[currLink.length - 1];
            if (curLocation === "Gallery") {
                $("#header-main").addClass("header-inverted");
                $("#admin-header-main").addClass("header-inverted");
            }


            if (curLocation === "") {
                $(".rootPage").addClass("active");
            }
            if (curLocation === "about") {
                $(".aboutPage").addClass("active");;
            }
            if (curLocation === "Gallery") {
                $(".galleryPage").addClass("active");;
            }
            if (curLocation === "Healing") {
                $(".healingPage").addClass("active");;
            }
            if (curLocation === "Rooms") {
                $(".roomsPage").addClass("active");;
            }
            if (curLocation === "Prices") {
                $(".pricePage").addClass("active");;
            }
            if (curLocation === "Reservation") {
                $(".reservPage").addClass("active");;
            }
            if (curLocation === "Contact") {
                $(".contactPage").addClass("active");;
            }
            if (curLocation === "types") {
                $(".typePage").addClass("active");;
            }
            if (curLocation === "apartments") {
                $(".appartPage").addClass("active");;
            }
            if (curLocation === "reservations") {
                $(".reservsPage").addClass("active");;
            }
            if (curLocation === "Galleries") {
                $(".galPage").addClass("active");;
            }
            console.log(curLocation);
        });


    </script>
</body>
</html>
