@model IEnumerable<Hotel.Models.Apartment>

@{
    ViewBag.Title = "Список номерів";
}
<link href="~/Content/adminTable.css" rel="stylesheet" />
<section class="banner" id="contacts-banner">
    <div class="container contacts-banner__container">
        <div class="banner-text">
            <h1 class="banner-title">Керування номерами</h1>
            <hr class="banner-title-divider">
        </div>
    </div>
</section>
<section class="contacts-main">
    <div class="container">
        <div>
            <p>
                @Html.ActionLink("Додати номер", "Create")
            </p>
        </div>
        <div id="home-healing-container">
            <div class="container">
                <table class="responsive-table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Type.Name)
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Type.Name)
                            </td>

                            <td>
                                @Html.ActionLink("Редагувати", "Edit", new { id = item.ApartmentId }) |
                                @*@Html.ActionLink("Детальніше", "Details", new { id = item.ApartmentId }) |*@
                                @Html.ActionLink("Видалити", "Delete", new { id = item.ApartmentId })
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</section>

