@model IEnumerable<Hotel.Models.ApType>

@{
    ViewBag.Title = "Index";
}
<section class="banner" id="home-banner">
    <div class="container">
        <div class="banner-text">
            <h1 class="banner-title">Вітаємо в Східниці</h1>
            <hr class="banner-title-divider">
            <h2 class="banner-subtitle">Ми робимо людей трішки щасливішими і здоровішими</h2>
        </div>
        <div class="banner-actions">
            <a href="/" class="button-green">
                Детальніше
            </a>
            <a href="/" class="button-black">
                Бронювання
            </a>
        </div>
        <a class="banner-details">
            Прокрутіть униз для деталей
        </a>
    </div>
</section>
<section id="home-healing">
    <div class="container">
        <div>
            <h2>Список Типів Номерів</h2>
            <p>
                @Html.ActionLink("Додати тип", "Create")
            </p>
        </div>
        <div id="home-healing-container">

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NumOfPerson)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NumOfPerson)
                        </td>
                        <td>
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.TypeId }) |
                            @*@Html.ActionLink("Детальніше", "Details", new { id = item.ApartmentId }) |*@
                            @Html.ActionLink("Видалити", "Delete", new { id = item.TypeId })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</section>

